.introduction {
  background-color: #1a1a1a;
  color : #ffffff;
  text-align : center;
 
            }
            
.connection {
     background-color: #1a1a1a;
     color : #ffffff;
     text-align: center;
            }           

.headerbtn {
    background-color: #1a1a1a;
    border: none;   
    color: #ffffff;
                
            }
           
             
h1 {
   color :#ffffff;
   font-size: 10px;
   }            
            
.navbar {
  position :static;
}

btn btn-dark {
    color:#ea970b;
}

body {
  scroll-behavior: smooth;
}

h1 {
  font-size : medium;
}

p{
  margin-left: 1100px;
  color:orange;
}

.navbar {
  position: static;

}


.container-fluid citation {
position: relative;
}

.citation {
  position: absolute ;
  top: 150px;
  right : 15px;
  text-shadow: 1px 1px 2px #e5d80e, 0 0 1em #e78200, 0 0 0.2em #cf1717;
}

.container-fluid {
  position: inherit;
}


#footer {
    background-color: #1a1a1a;
    color: #ffffff;
    
}