.introduction {
    background-color: #1a1a1a;
    color : #ffffff;
    text-align : center;

}

.connection {
    background-color: #1a1a1a;
    color : #ffffff;
    text-align: center;

}  

.headerbtn {
    background-color: #1a1a1a;
    border: none;   
    color: #ffffff;
    cursor:alias;
}

a.nav-link.zoom:hover {
    font-size: 20px;
    color:orange;

}

span.error {
    color : red;      
}

.modal.body {
    background-color: whitesmoke;

} 

.modal-header {
    background-color: #1a1a1a;
    text-align: center;

}

.modal-title {
    color : white;
    text-align: center;
}


form {
    color: black;
}

h1 {
    color :#ffffff;
    font-size : medium;
    color: orange;
}            

.message {
    text-align: center;
    font-size: large;
}

btn btn-dark {
    color:#ea970b;
}

body {
    scroll-behavior: smooth;
}

p{
    margin-left: 1100px;
    color:orange;
}

.navbar {
    position: static;

}

.container-fluid citation {
    position: relative;
}

.citation {
    position: absolute ;
    top: 150px;
    right : 15px;
    text-shadow: 1px 1px 2px #e5d80e, 0 0 1em #e78200, 0 0 0.2em #cf1717;
}

.container-fluid {
    position: inherit;
}

.btn-secondary {
    background-color: #f2af58;
}


input{
    float: right;
    width: 250px;
}

select {
    display: block;
    float: right;
    width: 250px;
}

label {
    display:block;
    float:left;
    width: 180px;
    text-align: center;
}


#footer {
    width: 200px;
    height: 250px;
}

.parallaxtop {
    background-image: url("../assets/images/clown-362155_1280.jpg");

    /* Set a specific height */
    height: 500px;
    opacity:0.5;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#concert {
    width: 65%;
    height: 62%;
    margin-left: 40px;
    margin-right: 40px;
    padding-bottom: 50px;

}

.parallaxbottom {
    background-image: url("../assets/images/admission-2974645_1280.jpg");

    /* Set a specific height */
    height: 500px;
    opacity: 0.5;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*début du footer*/

.row {
    text-align: center;

}

.picto {
    width:20px;
    margin-right: 5px;
    margin-left: 5px;
}


.rubriquebottomfooter{
    color : #6E6E6E;

}

.footer {
    width: 100%;
    background-color: #1a1a1a;
    color:  #ffffff;
}

a {
    text-decoration: none;
    color: inherit;

}
a:hover {
    color : orange;
}

@media all and (max-width: 1024px)

{
    .carousel
    {
        display: none;
    }



}