
.introduction {
    background-color: #1a1a1a;
    color : #ffffff;
    text-align : center;

}
.connection {
    background-color: #1a1a1a;
    color : #ffffff;
    /*    text-align: center;*/

}  

.connexion {
    /*    float: right;*/
    color:orange;
    margin-top: 10px;

}

.intro {
    margin-top: 20px;
    /*    float: left;*/
    color: orange;

}
/*#headerbtnconnexion {
    margin-right: 0px;
}*/


#loginpicto {
    margin-left: 10px;
}

#circle{
    margin-left: 5px;
}

#header{
    background-color: #1a1a1a;
}

.container-fluid header {
    background-color: #1a1a1a;
}

.headerbtn {
    background-color: #1a1a1a;
    border: none;   
    color: #ffffff;
    cursor:alias;
}

a.nav-link.zoom:hover {
    font-size: 20px;
    color:orange;  
    border-bottom: red solid 2px; 
    padding-bottom: 10px; 

}

span.error {
    color : red;      
}

.modal.body {
    background-color: whitesmoke;

} 

.modal-header {
    background-color: #1a1a1a;
    text-align: center;

}

.modal-title {
    color : white;
    text-align: center;
}


form {
    color: black;
    margin-top: 1em;
}

#formmodifyevent {

    /* Uniquement centrer le formulaire sur la page */
    margin: 0 auto;
    width: 600px;
    /* Encadré pour voir les limites du formulaire */
    padding: 1em;
    border: 2px solid orange;
    border-radius: 1em;

}

.modifyformevent{
    font-size: 15px;
}


h1 {
    color :#ffffff;
    font-size : medium;
    color: orange;
}            

.message {
    text-align: center;
    font-size: large;
}

btn btn-dark {
    color:#ea970b;
}

body {
    scroll-behavior: smooth;
}



.btn btn-outline-warning {
    margin-left: 10px;
    margin-right: 10px;
}


.navbar {
    position: static;

}



.container-fluid citation {
    position: fixed;
}

#headernavbar{
    position: static;
}

.btn-secondary {
    background-color: #f2af58;
}

.form-check-input {

    width: 13px;
    height: 13px;
    padding: 0;
    margin:0;
    vertical-align: bottom;
    position: relative;
    top: -1px; 
}

input{
    float: right;
    width: 250px;
}

select {
    display: block;
    float: right;
    width: 250px;
}

label {
    display:block;
    width: 180px;
    text-align: center;
}

#footer {
    width: 200px;
    height: 250px;
}

.parallaxtop {
    background-image: url("../assets/images/clown-362155_1280.jpg");

    /* Set a specific height */
    height: 20rem;
    opacity:0.5;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



.parallaxbottom {
    background-image: url("../assets/images/admission-2974645_1280.jpg");

    /* Set a specific height */
    height: 20rem;
    opacity: 0.5;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*//////debut des card event///////////////////*/
/*.card-media {
  background-color: #fefefe;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 500;
}*/

/**, *:before, *:after {
  box-sizing: inherit;
}*/

.containerevent {
    margin: 50px auto 0;

}

.u-float-right {
    float: right;
}

.u-flex-center {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
}

.subtle {
    color: #888;
    font-size: 12px;
}

.card-media {
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .12);
    height: 125px;
    margin-bottom: 25px;
    transition: all 300ms ease-out;
    /*    width: 100%;*/
}

.card-media:hover {
    box-shadow: 0 5px 14px rgba(0, 0, 0, .2);
}

.card-media-object-container {
    background: none;
    float: left;
    height: 100%;
    width: 35%;
    position: relative;
}

.card-media-object {
    background-position: center center;
    background-size: cover;
    height: 100%;
}

.card-media-object:after {
    content: " ";
    display: block;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: all 300ms ease-out;
    z-index: 10;
}

.card-media:hover .card-media-object:after {
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 52%, rgba(0,0,0,0.4) 100%);
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 52%,rgba(0,0,0,0.4) 100%);
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 52%,rgba(0,0,0,0.4) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
    opacity: 1;
}

.card-media-object-tag {
    background-color: #fff;
    border-radius: 2px;
    padding: 2px 7px;
    position: absolute;
    right: 10px;
    top: 10px;
}

.card-media-object-social-list {
    bottom: 4px;
    left: 10px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 20;
}

.card-media-object-social-list li {
    border-radius: 50%;
    display: inline-block;
    height: 30px;
    margin-right: 6px;
    opacity: 0;
    overflow: hidden;
    transform: translateY(5px);
    transition: all 300ms ease-out;
    width: 30px;
}

.card-media:hover .card-media-object-social-list li {
    opacity: 1;
    transform: translateY(0);
}

.card-media-object-social-list li:nth-child(1) {
    transition-delay: 0;
}
.card-media-object-social-list li:nth-child(2) {
    transition-delay: 75ms;
}
.card-media-object-social-list li:nth-child(3) {
    transition-delay: 150ms;
}

.card-media-object-social-list-item-additional {
    border: 1px solid #fff;
    color: #fff;
    font-size: 12px;
    padding-top: 7px;
    text-align: center;
}

.card-media-body {
    background-color: #fff;
    float: left;
    height: 100%;
    padding: 12px 15px;
    position: relative;
    width: 65%;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color:black;
    border-right-style: solid;
    border-width: 5px;

}

card-media-body-heading {
    white-space: normal;
    overflow: hidden;
    text-overflow : ellipsis;
    font-weight: bold;

}

/*//////////////code couleur par card/////////////////////////*/
.concert {
    border-color: red;

}

.spectacle {
    border-color: orange;
}

.expos {
    border-color: greenyellow;
}

.card-media-body-top {
    display: block;
}

.card-media-body-top-icons {
    margin-top: -2px;
    opacity: 0;
    transition: all 300ms ease-out;
    transform: translateY(-5px);
}

.card-media:hover .card-media-body-top-icons {
    opacity: 1;
    transform: translateY(0);
}

.card-media-body-top-icons > svg {
    cursor: pointer;
    margin-left: 10px;
    transition: all 300ms ease-out;
}

.card-media-body-top-icons > svg:hover {
    fill: #444;
}

.card-media-body-heading {
    display: block;
    margin-top: 10px;
}

.card-media-body-supporting-bottom {
    position: absolute;
    bottom: 10px;
    left: 0;
    opacity: 1;
    padding: 0 15px;
    transition: all 300ms ease-out;
    width: 100%;
}

.card-media:hover .card-media-body-supporting-bottom {
    opacity: 0;
    transform: translateY(-8px);
}

.card-media-body-supporting-bottom-text {
    display: inline-block;
}

.card-media-body-supporting-bottom-reveal {
    opacity: 0;
    transform: translateY(8px);
    transition: all 300ms ease-out;
}

.card-media:hover .card-media-body-supporting-bottom-reveal {
    opacity: 1;
    transform: translateY(0);
}

.card-media-link {
    color: #41C1F2;
    text-decoration: none;
}
/*///////fin des card event*/

/*début du footer*/

.row {
    text-align: center;

}

.picto {
    width:20px;
    margin-right: 5px;
    margin-left: 5px;
}


.rubriquebottomfooter{
    color : #6E6E6E;

}

.footer {
    width: 100%;
    background-color: #1a1a1a;
    color:  #ffffff;
}
/*//////////////////////////fin du footer//////////////////////*/
a {
    text-decoration: none;
    color: inherit;

}
a:hover {
    color : orange;
}

.card {
    background-color: white;
    margin-top: 20px;
    border-radius: 30px;
    color: #1a1a1a;
    margin-left: 40px;
    margin-right: 40px;
    padding-bottom: 50px;
} 


.img-fluidcard {
    max-width: 50%;
    height: 60%;
}

@media all and (max-width: 640px) {
    .carousel
    {
        display: none;
    }

}


